.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .Cell{
    height: 50px;
    width: 50px;
  }
  .neon-orange,.neon-blue{
    font-size: 50px;
  }
  .winner .neon-blue,
  .winner .neon-orange {
  font-size: 60px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .winner .neon-blue,
  .winner .neon-orange {
  font-size: 150px;
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .winner .neon-blue,
  .winner .neon-orange {
  font-size: 200px;
}
} 
